<div class="logged-container">
  @if(userProfile | async ; as userProfile){
  <p>Welcome, {{ userProfile.display_name }}!</p>

  }

  <div class="lists">
    <paginated-card-list></paginated-card-list>
    <h3>Listas de reproducción</h3>
    <div class="play-list-collection">
      @if ((playlists$ | async ); as lists ){
        @for(list of playlists$ | async; track list){
        <mat-card appearance="outlined" class="playlist" (click)="goToPlaylistDetails(list.id)">
          <mat-card-content>
            <h3>{{ list.name }}</h3>
            <img [src]="list.images[0].url" alt="{{ list.images[0].height }}" height=" 300px " />
            <p>{{ list.tracks.total }} canciones</p>
          </mat-card-content>
        </mat-card>
        } 
      } 
      @else {
      <p>cargando listas de reproduccion</p>
      }
    </div>
  </div>
</div>|