@if(userProfile){
<p>Welcome, {{ userProfile.display_name }}!</p>

} @if (playlists$ | async; as lists) { @for(list of lists; track list){
<h3>{{ list.name }}</h3>
<img [src]="list.images[0].url" alt="{{ list.name }}" width="200" />
<p>{{ list.tracks.total }} canciones</p>
} } @else {
<p>cargando listas de reproduccion</p>
}

<form (ngSubmit)="onSearch()">
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="searchQuery"
      name="searchQuery"
      placeholder="Buscar en Spotify"
    />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    [disabled]="isLoading"
    type="submit"
  >
    Buscar
  </button>
</form>

@if(searchResults){ @for (item of searchResults.tracks.items; track item) {

{{ item.name }} ({{ item.type }}) } }
