<button mat-raised-button (click)="goToLogged()">
  <mat-icon>
    arrow_back
  </mat-icon>
  volver a las listas
</button>
@if(playListDetails$|async ;as playlists) {
  <h3>{{ playlists.name }}</h3>
  <div class="playlist-container">
<div class="album-info">
  <img
    [src]="playlists.images[0].url ||defaultImgUrl"
    alt="{{ playlists.name }}"
    [height]="playlists.images[0].height|| 300"
    [width]="playlists.images[0].width || 300"
  />
 

</div>
<div class="playlist-songs">
@for(item of playlists.tracks.items ;track item){
  <p>{{item.track.name}}</p>
}
</div>
</div>
@if(isDeviceReady | async){
  <div class="controls">
    <button mat-raised-button (click)="playPlaylist()">
      Reproducir Playlist ✨
    </button>
    <button mat-raised-button (click)="play()">Play</button>
    <button mat-raised-button (click)="pause()">Pause</button>
    <mat-slider>
      <input
        matSliderThumb
        min="0"
        max="1"
        step="0.01"
        (input)="setVolume($event)"
        [value]="currentVolume"
      />
    </mat-slider>
  </div>
 }
}
