.album-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.controls {
  display: flex;
  gap: 1rem;
}
.playlist-container{
  display: flex;
  gap: 6rem;
}

