<div class="home-container">
  <h1>Buscador de spotify</h1>
  <h3>Busca tu canción, album o artista favorito</h3>
  <form action="submit" (ngSubmit)="onSearch()" class="search">
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="searchQuery"
        placeholder="Buscar en Spotify"
        name="queryMusic"
      />
    </mat-form-field>
    <button mat-fab color="primary" [disabled]="isLoading" type="submit">
      <mat-icon>search</mat-icon>
    </button>
  </form>
  <button
    (click)="login()"
    mat-raised-button
    style="background-color: #1ed760; color: black"
    class="login-btn"
  >
    Login with Spotify
  </button>
  @if (isLoading ) {
  <mat-spinner></mat-spinner>

  } @if(results.length){

  <mat-paginator
    [length]="results.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
  } @if (!isLoading && results.length) {

  <mat-card appearance="outlined" class="list">
    <mat-card-content>
      <mat-list>
        @for (item of paginatedResults; track item.id) {
        <mat-list-item (click)="viewDetails(item)" class="list-item">
          <p>{{ item.name }} ({{ item.type }})</p>
        </mat-list-item>
        }
      </mat-list>
    </mat-card-content>
  </mat-card>

  } @if (!isLoading && !results.length ) {
  <p>No se encontraron resultados.</p>
  }
</div>
