<button (click)="login()">Login with Spotify</button>
<mat-form-field>
  <input matInput [(ngModel)]="searchQuery" placeholder="Buscar en Spotify" />
</mat-form-field>
<button
  mat-raised-button
  color="primary"
  (click)="onSearch()"
  [disabled]="isLoading"
>
  Buscar
</button>
@if (isLoading ) {
<mat-spinner></mat-spinner>

} @if (!isLoading && results.length) {
<mat-list>
  @for (item of results; track item) {
  <mat-list-item (click)="viewDetails(item)">
    {{ item.name }} ({{ item.type }})
  </mat-list-item>
  }
</mat-list>
} @if (!isLoading && !results.length) {
<p>No se encontraron resultados.</p>
}
