<mat-toolbar>
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Detalles</span>
</mat-toolbar>

<div>
  @if (details$ | async; as details) {
  <h2>{{ details.name }}</h2>
  <p>Tipo: {{ details.type }}</p>
  @switch (details.type) { @case ('track'){
  <p>Duración: {{ (details.duration_ms / 1000 / 60).toFixed(2) }} minutos</p>
  <p>Álbum: {{ details.album.name }}</p>
  <p>Fecha de lanzamiento: {{ details.album.release_date }}</p>

  <img
    [src]="details.album.images[1].url"
    alt="{{ details.album.name }}"
    [height]="details.album.images[1].height"
    [width]="details.album.images[1].width"
  />
  <audio #audio [src]="details.preview_url" controls></audio>

  } @case ('artist'){
  <p>Artista: {{ details.name }}</p>
  <p>Género: {{ details.genres }}</p>
  } @case ('album'){
  <p>Álbum: {{ details.name }}</p>
  <img
    [src]="details.images[0].url"
    alt="{{ details.name }}"
    [height]="details.images[0].height"
    [width]="details.images[0].width"
  />
  } } } @else {
  <mat-spinner></mat-spinner>
  }
</div>
